@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
Here is the place to get the original page, but the system is under construction, some functions can only provide temporary
